/* fonts */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
/* Generals  Rules*/

body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body *{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

input{
    border-radius: 6px;
    border:solid wheat 1px;
    background-color: rgb(54, 54, 54) ;
    color: white;
    height: 28px;
}

input::placeholder{
    color: rgb(179, 179, 179);
    font-style: italic;
    text-align: center;
    
}

input:focus {
    outline: none;
    border:1px solid rgb(243, 239, 239);
    box-shadow: 0 0 10px #719ECE;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

.wrapper{
    display: none;
}

/* Header */

header{
    width: 100%;
    min-height: 100vh; 
    background-color: black;  
    overflow-x: hidden;
    color: white;
}

/* landing-page */
.landing-page{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 50;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: opening 2s forwards;
    animation-delay: 7s;
}

.landing-page p{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color:rgba(9, 9, 9, 0);
    animation: shadowloadingtext 2s 3;
}

.loading-box{
    width: 50%;
    height:10%;
    border:wheat solid 2px;
    border-radius: 150px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shadowloading 2s forwards;
    animation-delay: 6s;
}

.intern-border{
    border:solid rgb(9, 9, 9) 5px;
    border-radius: 85px;
    width:100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: shadowloading 2s forwards;
    animation-delay: 6s;
}

.loading-bar{
    background-color: wheat;
    width: 100%;
    height: 90%;
    border-radius:85px;
    position: relative;
    animation: loading 6s forwards, shadowloading 2s forwards;
    animation-delay: 0s,6s;
}


/* Navbar */

.navbar{
    width:100%;
    height:100px;
    color: wheat;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

}

.mask-navbar-blur{
    width:100%;
    height:100px;
    color: wheat;
    position: fixed;
    z-index: 3;
    background-color: rgba(10, 10, 10, 0.681);
}

.nav-container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name, .en-savoir-plus{
    min-height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}

.name a, .en-savoir-plus a{
    height: 100%;
    display: flex;
    align-items: center;
}

/* default links without underlines */

.underlines{
    width: 100%;
    height: 2px;
    background-color: wheat;
    position: relative;
    left: -100%;
}

/* dynamic links underlines */

.lineText{
    position: relative;
    animation: showUnderline 1s forwards;
}

.hideLineText{
    position: relative;
    animation: hideUnderline 1s forwards;
}


.mask{
    width: 100%;
    height: 100%;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    /* translate: (-50%,-50%); */
    background-color: black;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: translate3d(0, 0, 0);
    overflow-y: hidden;
    overflow-x: hidden;
}



/* Dynamics Elements Background */

.ball1{
    width: 480px;
    height: 480px;
    border-radius: 480px;
    background: rgb(244,11,11);
    background: -moz-linear-gradient(90deg, rgba(244,11,11,1) 0%, rgba(158,31,42,1) 55%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(244,11,11,1) 0%, rgba(158,31,42,1) 55%, rgba(252,176,69,1) 100%);
    background: linear-gradient(90deg, rgba(244,11,11,1) 0%, rgba(158,31,42,1) 55%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f40b0b",endColorstr="#fcb045",GradientType=1);
    position: relative;
    animation: ballmove 30s infinite;
    -webkit-animation: ballmove 30s infinite;
}

.ball2{
    width: 280px;
    height: 280px;
    border-radius: 280px;
    background: rgb(241,200,11);
    background: -moz-linear-gradient(90deg, rgba(241,200,11,1) 24%, rgba(195,103,10,1) 53%, rgba(240,167,8,1) 87%);
    background: -webkit-linear-gradient(90deg, rgba(241,200,11,1) 24%, rgba(195,103,10,1) 53%, rgba(240,167,8,1) 87%);
    background: linear-gradient(90deg, rgba(241,200,11,1) 24%, rgba(195,103,10,1) 53%, rgba(240,167,8,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1c80b",endColorstr="#f0a708",GradientType=1);
    position: relative;
    animation: ballmove2 30s infinite;
    -webkit-animation: ballmove2 30s infinite;
}

.ball3{
    width: 380px;
    height: 380px;
    border-radius: 280px;
    background: rgb(63,94,251);
    background: -moz-linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
    position: relative;
    animation: ballmove3 30s infinite;
    -webkit-animation: ballmove3 30s infinite;
}

/* Dynamic Lines */

.lights{
    position: relative;
    z-index: 3;
    left: 0%;
    max-width: 500px;
    height: 5px;
    background-color: wheat;
    transition: 0.5s;

}

/* .lights-off{
    position: relative;
    z-index: 3;
    left: -100%;
    max-width: 491.17px;
    height: 5px;
    background-color: wheat;
    animation: offline 2s forwards;
} */

.txt-accueil{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 85px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;  
    overflow-x: hidden;
    
}

.welcome-container{
    width: 500px;
    
}

.welcome{
    width: 500px;
}

.lines{
    width: 500px;
}

/* carroussel div mask */

.carroussel-home{
    width: 600px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
    animation: blurEffect 4s infinite;
    animation-delay: 1.50s; 
}

/* carrousel container */
.text-band{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    animation: moveWords 40s infinite;
}



/* carrousel elements */

.item-1, .item-2, .item-3, .item-4,.item-5{
    width: 600px;
    height:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: textEffect 8s infinite;
    
    /* animation-delay: -1s; */
}


.text-band > div > p{
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}



/* main */
.main{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    color: aliceblue;
}

/* langages */

.langages{
    width: 100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

.lg-left{
    width: 100%;
    min-height: 60vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    order: 1;
}

.icons{
    font-size: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    color: #f5deb3;
}

.icons i, .icons div{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.icons div{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 80%;
}

.lg-right{
    width: 100%;
    min-height: 40vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 0;
}

.lg-right h2{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 75px;
    width: 80%;
    text-align: right;
    
}

.title-lg-right{
    display: none;
}

.animate-header{
    animation: showTitleRight 2s forwards;
    position: relative;
    text-align: right;
}

.hide-header{
    animation: hideTitleRight 2s forwards;
    position: relative;
}

/* bloc - anime */

.bloc-anime{
    width: 100%;
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: blocanimeshadow 1s forwards;

}

.bloc-anime-reveal{
    animation: blocanimereveal 1s forwards;

}

.title-bloc{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    order:1;
}

.txt-anime{
    width:80%;
    height: 30vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    order:3;
}

.txt-anime p{
    width: 100%;
    font-size: 25px;
}

.animation{
    width: 100%;
    height:30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    order:2;
}

.phone{
    width: 20%;
    -webkit-filter: drop-shadow(0px 15px 15px);
    filter: drop-shadow( 0px 15px 15px);
    max-width:211px;
}

.tablette{
    width: 25%;
    -webkit-filter: drop-shadow(0px 15px 15px);
    filter: drop-shadow( 0px 15px 15px);
    max-width:264px;
}

.pc{
    width: 40%;
    max-width:423px;
    -webkit-filter: drop-shadow(0px 15px 15px);
    filter: drop-shadow( 0px 15px 15px);
}

.title-bloc h2{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    width: 80%;
    max-height: 20vh;
    text-align: left;
    transition :2s;
}

.animate-header-left{
    position: relative;
    right:100%
}

/* .hide-animate-header-left{
    position: relative;
    animation: hideHeaderLeft 2s forwards;
} */

/* Realisations */
.title-real{
    display: flex;
    justify-content: center;
}


.title-real h2{
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    width: 80%;
    text-align: center;
}

.reals-shadow{
    animation: blocanimeshadow 1s forwards;
}

.reals{
    min-height: calc(100vh - 150px);
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.bloc-real{
    width:360px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom:25px ;
    border: solid black 2px;
    transition: 0.3s;
    flex: -0.5% 0 33.333333%;
    overflow: hidden;
    margin-left: 25px;
    margin-right: 25px;
}
.bloc-real a{
    width: 100%;
}

.bloc-real:hover{
    
    cursor: pointer;
    animation: changeborderdelay 0.5s forwards;
}

.head-real,.bot-real{
    width: 100%;
    height: 50%;
    background-color: black;
    color: wheat;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
}

.head-real{
    top: -100%;
}

.head-real p, .bot-real p{
    width: 90%;
}

/* .head-real-alt{
    width: 100%;
    height: 50%;
    background-color: grey;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:0;
} */

.bot-real{
    bottom: -100%;
}

.bot-real a{
    margin-top: 10px;
    color: white;
}

/* .bot-real-alt{
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: grey;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} */

.bloc-real-1{
    background-image: url("../assets/images/f23.webp");
}

.bloc-real-2{
    background-image: url("../assets/images/Juriste.webp");
}

.bloc-real-3{
    background-image: url("../assets/images/grapheus.webp");
}

.bloc-real-4{
    background-image: url("../assets/images/arboriste06.webp  ");
}

.bloc-real-5{
    background-image: url("../assets/images/opht.webp");
}

.bloc-real-6{
    background-image: url("../assets/images/riviera.webp");
}

/* contact */
.bloc-foot{
    width: 100%;
    height: calc(100vh - 80px);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.bloc-contact{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.bloc-contact h2{
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    width: 100%;
    max-height: 20vh;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 60%;
    overflow-x: hidden;
}

.contact a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.contact a:visited, .contact a:active, .contact a:link{
    color: wheat;

}

.contact a i{
    width: 30%;
    text-align: center;
}

.contact a p{
    width: 70%;
    text-align: left;
}

.input-comes-left{
    position: relative;
    left:-100%;
    transition:2s
}

.input-comes-right{
    position: relative;
    right: -100%; 
    transition:2s
}

.animate-header-left-2{
    animation:  removeAnimLeft 1s forwards;
}

.animate-header-right-2{
    animation:  removeAnimRight 1s forwards;
}

footer{
    color: wheat;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    height: 80px;
    text-align: center;
}

.design-by{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-height:800px){
    
    .txt-accueil{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
    }
    
    .ball1{
        width: 200px;
        height: 200px;
    }

    .ball2{
        width: 100px;
        height: 100px;
    }

    .ball3{
        width: 350px;
        height: 350px;
    }

    .welcome {
        font-size: 55px;
    }

    .lg-right h2{
        font-size: 50px;
    }

    .langages{
        height: 600px;
    }

    .lg-right,.lg-left{
        height: 100%;
    }

    .welcome-container{
        overflow-x: hidden;
    }

    .welcome-container > p{
        width: 350px;
    }


    
}

@media screen and (min-height:800px) and (max-height:1034px){
    .ball1{
        width: 170px;
        height: 170px;
    }

    .ball2{
        width: 230px;
        height: 230px;
    }

    .ball3{
        width: 280px;
        height: 280px;
    }
}

@media screen and (min-width:600px) and (max-width:1420px)
{
    .lights{
        max-width: 500px;
        width: 500px;
    }

    .welcome{
        width: 500px;
    }
}

@media screen and (max-width:1420px){

    .welcome-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        width: 350px;
        font-size: 60px;
    }

    .lines,.welcome{
        width: 350px;
    }
    /* carroussel div mask */

    .txt-accueil{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
    }

    /* carroussel div mask */
    .carroussel-home{
        height: 100px;
    }

    

}

/* @media screen and (max-width:1420px){

    .txt-accueil{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
    }
} */

@media screen and (max-width:1000px){
    .loading-box{
        width: 90%;
        height: 50px;
        border-radius: 65px;
    }

    .intern-border{
        border-radius:65px;
        height: 100%;
        width: 100%;
    }

    .loading-bar{
        border-radius: 65px;
        width: 100%;
        height: 40px;
    }

    .icons i{
        font-size: 50px;
    }

    .icons div{
        width: 50px;
        height: 50px;
    }
}



@media screen and (max-width:650px){
    .welcome-container{
        width: 274px;
    }
    .welcome {
        font-size: 47px;
        width: 275px;
    }

    .lines{
        width: 275px;
        height: 5px;
        z-index: 5;
        
    }

    .lg-right h2{
        font-size: 50px;
    }

    .title-bloc h2 {
        font-size: 50px;
    }

    
    .bloc-contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bloc-contact h2{
        font-size: 35px;
        text-align: center;
    }


    .contact{
        width: 100%;
    }

    .contact a {
        font-size: 35px;
    }

    .contact a i{
        width: 40%;
        text-align: center;
    }

    

    .icons i{
        font-size: 35px;
    }

    .icons div{
        width: 35px;
        height: 35px;
    }

    .text-band > div > p{
        
        font-size: 30px;
    }

    
}

@media screen and (max-width:400px){

    .landing-page p{
        font-size: 25px;
    }

    .welcome-container{
        width: 68%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: initial;
    }

    .welcome-container p{
        width: 100%;
    }

    .welcome{
        width: 100%;
        font-size: 9vw;
    } 
    .lines{
        width: 100%;
    }

    .langages{
        justify-content: space-evenly;
    }

    .bot-real,.head-real{
        width: 100%;
    }

    .lg-right{
        height: auto;
        min-height: auto;
    }

    .lg-right h2 {
        font-size: 35px;
    }

    .lg-left{
        height: auto;
    }

    .description p{
        font-size: 20px;
    }

    .title-bloc h2, .title-real h2{
        font-size: 40px;
    }

    .txt-anime p{
        font-size: 20px;
    }

    .bloc-real{
        width: 90%;
        height: 350px;
        margin-left: 0;
        margin-right: 0;
        background-size: cover;
    }

    .bloc-contact{
        width: 100%;
    }

    .bloc-contact h2{
        font-size: 160%;
        text-align: center;
    }


    .contact{
        width: 100%;
        min-height: 50%;
    }

    .contact a {
        font-size: 120%;
        margin-bottom: 0;
    }

    .contact a i{
        width: 40%;
        font-size: 120%;
    }
}


/* keyframes */

/* landing page */
/* @keyframes landing{
    90%{visibility: aliceblue;visibility:visible}
    100%{background-color: aqua;visibility: hidden;}
}*/

@keyframes opening{
    /* 0%{top: 50%;left:50%;transform: translate(-50%,-50%);} */
    100%{height: 0px;}
} 

@keyframes loading{
    0%{width:9%;}
    100%{width:100%;}
}

@keyframes shadowloading{
    100%{background-color: black;border-color: black; color: black; filter:blur(15px);}
}


@keyframes shadowloadingtext{
    0%{color: black; filter:blur(15px);}
    50%{color:white;filter:blur(0px);}
    100%{color: black; filter:blur(15px);}
}

/* navbar underline */

@keyframes showUnderline{
    0%{left: -100%;}
    100%{left: 0%;}
}

@keyframes hideUnderline {
    0%{left:0%;}
    100%{left: -100%;}
}

/* title underline */

/* @keyframes underline{
    0%{left:-500%;}
    100%{left:0%;}
}

@keyframes offline{
    0%{left:0%;}
    100%{left:-500%;}
} */

/* list words */

@keyframes moveWords {
    0%{top:0%;}
    20%{top:-100%;}
    40%{top:-200%;}
    60%{top:-300%;}
    80%{top:-400%;}
    100%{top:0%;}
}



@keyframes textEffect{
    0%{filter: opacity(100%);}
    10%{filter: opacity(0%);}
    70%{filter: opacity(0%);}
    100%{filter: opacity(100%);}

}

@keyframes blurEffect{
    0%{filter:blur(15px);}
    60%{filter:blur(0px);}
    100%{filter:blur(15px);}
}

/* @keyframes textAppairs{
    0%{filter: opacity(100%);filter:blur(20px);}
    45%{filter: opacity(0%);filter:blur(0px);}

}

@keyframes textDispairs{
    0%{filter: opacity(100%);filter:blur(20px);}
    45%{filter: opacity(0%);filter:blur(0px);}
    55%{filter: opacity(100%);filter:blur(0px);}
    100%{filter: opacity(0%);filter:blur(20px);}
} */


/* balls movement */

@keyframes ballmove{
    0%{top: 0; right: 50%;}
    
    25%{top: 50%; right: 0%;}

    50%{top: -20%; right: -50%;}

    75%{top: -50%; right: 35%;}

    100%{top: 0; right: 50%;}
}

@-webkit-keyframes ballmove{
    0%{top: 0; right: 50%;}
    
    25%{top: 50%; right: 0%;}

    50%{top: -20%; right: -50%;}

    75%{top: -50%; right: 35%;}

    100%{top: 0; right: 50%;}
}

@keyframes ballmove2{
    0%{top: 50%; right: 0%;}
    
    25%{ top: -50%; right: 50%;}

    50%{ top: 50%; right: 35%;}

    75%{ top: -50%; right: 15%;}

    100%{top: 50%; right: 0%;}
}

@-webkit-keyframes ballmove2{
    0%{top: 50%; right: 0%;}
    
    25%{ top: -50%; right: 50%;}

    50%{ top: 50%; right: 35%;}

    75%{ top: -50%; right: 15%;}

    100%{top: 50%; right: 0%;}
}

@keyframes ballmove3{
    0%{top: -50%; right: 15%;}
    
    25%{ top: 25%; right: -50%;}

    50%{ top: -35%; right: 35%;}

    75%{ top: 20%; right: -15%;}

    100%{top: -50%; right: 15%;}
}

@-webkit-keyframes ballmove3{
    0%{top: -50%; right: 15%;}
    
    25%{ top: 25%; right: -50%;}

    50%{ top: -35%; right: 35%;}

    75%{ top: 20%; right: -15%;}

    100%{top: -50%; right: 15%;}
}

/* animate h2 */

@keyframes showTitleRight{
    0%{right:-100%;}

    100%{right:0%;}
}

@keyframes hideTitleRight{
    0%{right:0%;}
    
    100%{right:-100%;}
}

/* @keyframes animateHeaderLeft{
    0%{left:-100%;}

    100%{left:0%;}
}

@keyframes hideHeaderLeft{
    0%{left:0%;}
    
    100%{left:-100%;}
} */

@keyframes blocanimereveal{
    0%{background-color: black;}
    100%{background-color: wheat;}
}

@keyframes blocanimeshadow{
    0%{background-color: wheat;}
    100%{background-color: black;}
}

@keyframes headcomes{
    0%{top:-100%;}
    100%{top:0%;}
}

@keyframes headremoves{
    0%{top:0%;}
    100%{top:-100%;}
}

@keyframes botcomes{
    0%{bottom:-100%;}
    100%{bottom:0%;}
}

@keyframes botremoves{
    0%{bottom:0%;}
    100%{bottom:-100%;}
}

@keyframes changeborderdelay{
    0%{border:solid wheat 2px;
       color: wheat;
       
    }
    100%{border:solid rgb(76, 75, 75) 2px;
         color:rgb(76, 75, 75);
         -webkit-filter: drop-shadow(0px 15px 15px) wheat;
         filter: drop-shadow( 0px 15px 15px);
        }
}

@keyframes bggreen{
    0%{background-color: black;}
    100%{background-color: green;}
}

@keyframes bggreentoshad{
    0%{background-color: green;}
    100%{background-color: black;}
}

@keyframes bgred{
    0%{background-color: black;}
    100%{background-color: red;}
}

@keyframes bgredtoshad{
    0%{background-color: red;}
    100%{background-color: black;}
}

@keyframes bgyellow{
    0%{background-color: black;}
    100%{background-color: yellow;}
}

@keyframes bgyellowtoshad{
    0%{background-color: yellow;}
    100%{background-color: black;}
}

@keyframes bgpurple{
    0%{background-color: black;}
    100%{background-color: purple;}
}

@keyframes bgpurpletoshad{
    0%{background-color: purple;}
    100%{background-color: black;}
}

@keyframes bgblue{
    0%{background-color: black;}
    100%{background-color: blue;}
}

@keyframes bgbluetoshad{
    0%{background-color: blue;}
    100%{background-color: black;}
}

@keyframes bgorange{
    0%{background-color: black;}
    100%{background-color: orange;}
}

@keyframes bgorangetoshad{
    0%{background-color: orange;}
    100%{background-color: black;}
}

@keyframes removeAnimLeft{
    0%{left: 0%;}
    100%{left: -100%;}
}

@keyframes removeAnimRight{
    0%{right: 0%;}
    100%{right: -100%;}
}

